#corner-score{
    margin-top: 520px;
    margin-left: -220px;
    border: solid #fff 3px;
    font-family: 'Roboto', sans-serif;
}

#cs-time{
    height: 37px;
    font-size: 30px;
}

#cs-period{
    min-width:72px;
    text-align: center;
}

#cs-clock{
    width: 108px;
    border-left: solid #fff 2px; 
    text-align: center;
}

.cs-team{
    height:54px;
    width: 100%;
}

#cs-away{
    border-top: solid #fff 2px;
    border-bottom: solid #fff 2px;
}

.cs-logo-container{
    height: 100%;
    width: 52px;
}

.cs-logo-container img{
    max-width: 52px;
    max-height: 52px;
}

.cs-team b{
    width:82px;
    text-align: center;
    font-size: 25px;
}

.cs-score{
    background-image: linear-gradient(#333, #444, #333);
    width:52px;
    height: 100%;
}

.cs-score c{
    font-size: 37.5px
}

@keyframes cornerScoreIn {
    from{
        margin-left:-130px
    }
    to{
        margin-left: 50px;
    }
}

@keyframes cornerScoreOut {
    from{
        margin-top:520px;
        margin-left: 50px;
    }
    to{
        margin-top: 720px;
        margin-left: 50px;
    }
}