#custom-container{
    width:1280px; 
    height:0;
    overflow:hidden;
}

#custom{
    width:1280px; 
    height:720px;
}

@keyframes customIn{
    from{
        height:0;
    }
    to{
        height: 720px;
    }
}

@keyframes customOut{
    from{
        height:720px;
    }
    to{
        height: 0;
    }
}