:root {
    --home-primary: #ccc;
    --home-accent: #000;
    --home-bg: #000;
    --away-primary: #000;
    --away-accent: #fff;
    --away-bg: #000;
    --mstv-gray: #8a8c8e;
    --mstv-blue: #16478e;
  }

body{
    margin:0;
}

#wait-cover{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(255,255,255,0.6);
}

.flex{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
}

.vflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
}



.taller{
    height: 100%;
}

.tall{
    height: 90%;
}

.wider{
    width: 100%;
}

.wide{
    width: 90%;
}

.nomargin{
    margin:0 !important;
}

#container{
    width: 1430px;
    height: 840px;
    border: 1px solid #000;
    background-color: #666;
    color: #fff;
    font-family: sans-serif;
}

.section{
height: 100%;
border: 2px solid #fff;
}

.section *{
    margin: 5px;
    border-color: #fff;
    border-width: 1px;
}


 button{
    border: 3px solid #fff;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    background: none;
    font-size: 16px;
 }

 button:hover{
    cursor:pointer;
    color: #ddd;
    border-color: #ddd;
 }

 .active{
    color: #000;
    background-color: #fff;
 }

 .active:hover{
    color: #000;
    background-color: #eee;
 }

 .update{
    color: #000;
    background-color: #ffff00;
 }

 .update:hover{
    color: #000;
    background-color: #b3b304;
 }

 input{
    height: 30px;
    font-size: 25px;
    background-color: #333;
    color: #fff;
 }

h1{
    font-size: 85px;
    text-align: center;
}

h2{
    font-size: 45px;
    text-align: center;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 24px;
    text-align: center;
}

h5{
    font-size: 20px;

}


#sponsor-corners button{
    height: 30px;
    margin: 2px;
}

.home{
    background-color: var(--home-bg);
}

.away{
    background-color: var(--away-bg);
}

.light{
    background-color: rgba(255,255,255,0.3);
}

.player button{
height:25px;
}

.player *{
    margin-top:2px;
    margin-bottom:2px;
    text-wrap: nowrap;
}