:root{
    --l3rd-bg: var(--mstv-gray);
}

#l3rd{
    margin-top: 591px;
    margin-left: 305.5px;
} 
 
 #l3rd-bg::after{
    content: "";
    position: absolute;
    margin-top: 4px;
    margin-left: -29px;
    border-bottom: 125px solid var(--l3rd-bg);
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    height: 0;
    width: 600px; 
}
#l3rd-bg{
    border-bottom: 129px solid #fff;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0;
    width: 605px;
}

.l3rd-content{
    color: #fff;
    margin-top: 591px;
    margin-left: 305.5px;
    width:669px;
    max-height: 125px;
}

#l3rd-general{
    min-height: 110px;
}

.l3rd-content h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size:44px;
    margin: 0;
}

.l3rd-content p{
    font-family: "Roboto", sans-serif;
font-size:27px;
margin:0;
}


#l3rd-general-text-container, #l3rd-general-title-container{
    width: 650px;
text-align: center;

}

@keyframes l3rdIn {
    from{
        margin-top:720px;
    }
    to{
        margin-top: 591px;
    }
}

@keyframes l3rdOut {
    to{
        margin-top: 720px;
    }
}



